<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Movies</title>
        <style>
            .movies {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            }

            .movies img {
                width: 300px;
            }
        </style>
</head>

<body>
    <header class="container"><%- include('./partials/navbar') %></header>

    <main class="container">
        <h1>Movies Database</h1>
        <section class="movies">
            <% for (doc of documents) { %>
                <article>
                    <header>
                        <%= doc.title %>
                    </header>
                    <img src="<%= doc.poster %>" alt="">
                    <footer>Fecha lanzamiento: <%= doc.year %>
                    </footer>
                </article>
                <% } %>
        </section>
    </main>
</body>

</html>